.post{
    margin: 5px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.post__header{
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
}



.post__info > p{
    font-size: 12px;
    color: gray;
    margin-left: 8px;
}

.post__body{
    overflow-wrap: anywhere;
}

.post__info > h2{
    font-size: 15px;
    margin-left: 8px;
}

.post__buttons{
    display: flex;
}